@model BTCPayServer.Services.U2F.Models.LoginWithU2FViewModel

<form id="u2fForm" asp-action="LoginWithU2F" method="post" asp-route-returnUrl="@ViewData["ReturnUrl"]">
    <input type="hidden" asp-for="Version" />
    <input type="hidden" asp-for="Challenge" />
    <input type="hidden" asp-for="AppId" />
    <input type="hidden" asp-for="DeviceResponse" />
    <input type="hidden" asp-for="Challenges" />
    <input type="hidden" asp-for="UserId" />
    <input type="hidden" asp-for="RememberMe" />
</form>

<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading"><span class="fa fa-spinner fa-spin"></span>Autenticación U2F</h2>
                <hr class="primary">
                
                <p>Inserte su dispositivo U2F o una billetera de hardware en el puerto USB de su computadora. Si tiene un botón, tócalo.</p>
            </div>
        </div>
        <div class="row">
            <a id="error-response" class="text-danger" href="javascript:window.location.reload()"> </a>
        </div>
    </div>
</section>

<script src="~/vendor/u2f/u2f-api-1.1.js"></script>
<script type="text/javascript">
    var errorMap = {
        1: 'Error desconocido, inténtalo de nuevo',
        2: "Error de solicitud incorrecta, inténtalo de nuevo",
        3: "Esta tecla no es compatible, por favor intente con otra",
        4: 'El dispositivo ya está registrado, por favor inicie sesión.',
        5: 'Autenticación agotada. Por favor, vuelva a cargar para intentarlo de nuevo.'
    };
    setTimeout(function() {
        window.u2f.sign(
            "@Model.AppId",
            "@Model.Challenge",
            @Html.Raw(@Model.Challenges), function (data) {
                if (data.errorCode) {
                    $("#error-response").text(errorMap[data.errorCode]);
                    return;
                }
                $('#DeviceResponse').val(JSON.stringify(data));
                $('#u2fForm').submit();

                return "";
            });
    }, 1000);
</script>
