@model RescanWalletModel
@{
    Layout = "../Shared/_NavLayout.cshtml";
    ViewData["Title"] = "Monedero rescan";
    ViewData.SetActivePageAndTitle(WalletsNavPages.Rescan);
}

<h4>@ViewData["Title"]</h4>

@if (!Model.Ok)
{
    <div class="row">
        <div class="col-md-10">
            <p>Esta característica está deshabilitada</p>
            @if (Model.IsFullySync)
            {
                <p><span class="fa fa-check-circle" style="color:green;"></span> <span>El nodo completo está sincronizado.</span></p>
            }
            else
            {
                <p><span class="fa fa-times-circle" style="color:red;"></span> <span>El nodo completo no está sincronizado</span></p>
            }
            @if (Model.IsServerAdmin)
            {
                <p><span class="fa fa-check-circle" style="color:green;"></span> <span>Usted es administrador del servidor</span></p>
            }
            else
            {
                <p><span class="fa fa-times-circle" style="color:red;"></span> <span>Usted no es administrador del servidor</span></p>
            }
            @if (Model.IsSupportedByCurrency)
            {
                <p><span class="fa fa-check-circle" style="color:green;"></span> <span>Este nodo completo soporta la reexploración del conjunto UTXO</span></p>
            }
            else
            {
                <p><span class="fa fa-times-circle" style="color:red;"></span> <span>Este nodo completo no admite la reexploración del conjunto UTXO</span></p>
            }
        </div>
    </div>
}
else if (!Model.Progress.HasValue)
{
    <div class="row">
        @if (Model.PreviousError != null)
        {
            <div class="alert alert-danger alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <span>El escaneo anterior se detuvo con un error: @Model.PreviousError</span>
            </div>
        }
        else if (Model.LastSuccess != null)
        {
            <div class="alert alert-success alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <span>El escaneo anterior completado y encontrado <b>@Model.LastSuccess.Found</b> UTXOs en <b>@Model.TimeOfScan</b> (El tamaño total del conjunto UTXO es @Model.LastSuccess.TotalSizeOfUTXOSet.Value)</span>
            </div>
        }
        <div class="col-md-8">
            <p>
                Escanear el conjunto UTXO le permite restaurar el saldo de su billetera, pero no todo el historial de transacciones.
            </p>
            <p>
                Esta operación escaneará la ruta HD <b>0/*</b>, <b>1/*</b> and <b>*</b> from a starting index, until no UTXO are found in a whole gap limit.
            </p>
            <p>The batch size make sure the scan do not consume too much RAM at once by rescanning several time with smaller subset of addresses.</p>
            <p>If you do not understand above, just keep the default values and click on <b>Start Scan</b></p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8">
            <form method="post">
                <div class="form-group">
                    <label asp-for="StartingIndex"></label>
                    <input asp-for="StartingIndex" class="form-control" type="number" />
                </div>
                <div class="form-group">
                    <label asp-for="GapLimit"></label>
                    <input asp-for="GapLimit" class="form-control" type="number" />
                </div>
                <div class="form-group">
                    <label asp-for="BatchSize"></label>
                    <input asp-for="BatchSize" class="form-control" type="number" />
                </div>
                <button type="submit" class="btn btn-primary">Start scan</button>
            </form>
        </div>
    </div>
}
else
{
    <div class="row">
        <div class="col-md-10">
            <p>Scanning in progress, refresh the page to see the progress... (Estimated time: @Model.RemainingTime)</p>
            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="@(Model.Progress.Value)"
                     aria-valuemin="0" aria-valuemax="100" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; width:@(Model.Progress.Value)%;">
                    @(Model.Progress.Value)% (estimated time: @Model.RemainingTime)
                </div>
            </div>
        </div>
    </div>
}
